<div class="row">
    <div class="col-md-6 col-lg-6 mx-auto">
        <h2>Register</h2>
        <form [formGroup]="userform" (submit)="register()">
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input type="text" name="fullname" formControlName="fullname" class="form-control">
                <div *ngIf="Fullname.invalid && Fullname.touched" class="text-danger">
                    <div *ngIf="Fullname.errors && Fullname.errors.required">Full Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" name="username" formControlName="username" class="form-control">
                <div *ngIf="Username.invalid && Username.touched" class="text-danger">
                    <div *ngIf="Username.errors && Username.errors.required">Username is required</div>
                </div>

            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" formControlName="password" class="form-control">
                <div *ngIf="Password.invalid && Password.touched" class="text-danger">
                    <div *ngIf="Password.errors && Password.errors.required">Password is required</div>
                    <div *ngIf="Password.errors && Password.errors.minlength">Minmum Length is 8</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" formControlName="email" class="form-control">
                <div *ngIf="Email.invalid && Email.touched" class="text-danger">
                    <div *ngIf="Email.errors && Email.errors.required">Email is required</div>
                    <div *ngIf="Email.errors && Email.errors['email']">Email invalid</div>
                </div>
            </div>
            <div class="form-group">
                <label for="mobile">Mobile</label>
                <input type="text" name="mobile" formControlName="mobile" class="form-control">
                <div *ngIf="Mobile.invalid && Mobile.touched" class="text-danger">
                    <div *ngIf="Mobile.errors && Mobile.errors.required">Mobile Number is required</div>
                    <div *ngIf="Mobile.errors && Mobile.errors.maxlength">Invalid Mobile Number</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="userform.invalid">Submit</button>
        </form>
    </div>
</div>