<!-- {{products | json }} -->
<h2 highlight Highlightedcolor="red">Products</h2>
<div class="row">
<div class="col-md-3 col-md-3 col-sm-6" *ngFor="let item of products|async">
    <div class="card bg-secondary" style="width: 18rem; margin: 8px;">
      <div class="embed-responsive embed-responsive-16by9">
    <a [routerLink]="['/detail',item.id]">
      <img class="card-img-top embed-responsive-item" src={{item.imageUrl|images}} alt="{{item.name}}">
    </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.price | currency:'INR'}}</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
        <p class="card-text">Sold Out {{item.quantity}} !!</p>
      </div>
    </div>
  </div>
</div>